{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About US</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Welcome to SK Tailors, where tradition meets fashion in every stitch and weave. Nestled at the crossroads of heritage and style, we specialize in offering a curated collection of traditional garments that celebrate cultural richness and timeless elegance. From intricately embroidered saris to finely tailored kimonos, each piece in our range is a testament to craftsmanship and heritage passed down through generations. Our passion for preserving tradition is matched only by our commitment to quality, ensuring that every garment embodies both authenticity and contemporary flair. Whether you're embracing your cultural roots or exploring new styles, SK Tailors is your destination for embracing tradition with a modern twist.</p>

    </div>
</div>

{% endblock main-content %}