{% extends 'app/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">

        <div class="container">
            <div class="row">
                {% for prod in product %}
                <div class="col-auto" style="margin-right: 1cm;">
                    <div class="card" style="width: 18rem; margin-top: 15px;">
                        <a href="{% url 'product-detail' prod.id %}" class="btn">
                        <img src="{{ prod.product_image.url }}" height="300px" width="200px" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ prod.title }}</h5>
                        <p class="card-text">R{{ prod.selling_price }}</p>
                        </a>    
                        </div>
                    </div>
                </div>  
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
