                            <!-- <button type="submit" class="btn btn-success mt-3 px-5 fw-bold">Continue</button> -->
                            <!-- <div id="paypal-button-container"></div>-->
                            <!-- <button id="rap-button1" type="submit" class="btn btn-success mt-3 px-5 fw-bold" >Payment</button> -->
                            <!-- PAYPAL BUTTONS HERE  -->
                            <!-- <div id="paypal-button-container"></div>
                            <script src="https://www.paypal.com/sdk/js?client-id=AS92kQs0EKPu8LvLqnBGZ3fzS5ov3_RUlQAhvujdutZ9579Nj-oTepDHigVs0PU820JL2AtBH3Y5V6NJ&currency=USD"></script>
                        
                            <script>
                                // Render the PayPal button into #paypal-button-container
                                paypal.Buttons({
        
                                    // Set up the transaction
                                    createOrder: function (data, actions) {
                                        return actions.order.create({
                                            purchase_units: [{
                                                amount: {
                                                    value: '{{totalamount}}'
                                                }
                                            }]
                                        });
                                    },
        
                                    // Finalize the transaction
                                    onApprove: function (data, actions) {
                                        return actions.order.capture().then(function (details) {
                                            // Show a success message to the buyer
                                            alert('Transaction completed by ' + details.payer.name
                                                .given_name + '!');
                                        });
                                    } 
        
                                }).render('#paypal-button-container');
                            </script>-->