{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container ">
    <div class="row my-3"> 
    <div class="col-sm-9  offset-sm-1 text-center shadow p-5" style="background-color: #fff;" >
        <h3>Password Reset Successfully</h3>
        <div>
            <img src="https://cdn.dribbble.com/users/2185205/screenshots/7886140/media/90211520c82920dcaf6aea7604aeb029.gif" width="200" height="200" frameBorder="0" class="giphy-embed">
        </div>
    </div>
    </div>
</div>
{% endblock main-content %}
